data/*
!data/protected-files.yaml
.precomp
*/.precomp
.directory
*.xml
*.xsl
*.log
*-log.md
doc/*.html
Old/*
*/Old/*
*/*/Old/*
~*
*~
xt/NewRakuModules/*
xt/NewModules/*
xt/Templates/*
xt/data/Layout.png
xt/data/OffscreenWindow-surface.png
xt/data/OffscreenWindow.png
*.code-workspace
